wp-content/themes/docgaiduniversalclinic/node_modules
.DS_Store
wp-admin/
wp-includes/
wp-content/themes/docgaiduniversalclinic.zip
wp-content/themes/genesis.zip
wp-content/themes/genesis-block-theme.zip