// TODO Breadcrumbs - Styles

.breadcrumb {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: map-get($breadcrumbs, margin);
  padding-left: map-get($breadcrumbs, padding-left);
  padding-bottom: map-get($breadcrumbs, padding-bottom);
  border-bottom: 1px solid map-get($breadcrumbs, border-color);
  line-height: map-get($breadcrumbs, line-height);
  font-size: map-get($breadcrumbs, font-size);
  color: #B8B8B8;
  font-weight: map-get($breadcrumbs, arrows-font-weight);
  letter-spacing: map-get($breadcrumbs, letter-spacing);
  position: relative;
  z-index: 2;

  @include sm {
    font-size: map-get($breadcrumbs, font-size-mobile);
  }

  &_last {
    font-weight: map-get($breadcrumbs, font-weight);
    color: map-get($breadcrumbs, color);
  }

  li {
    padding: 0 5px;
    list-style-type: none;
  }

  >li:first-child>a:first-child {
    @include size(18px);
    transform: translateY(2px);
    display: inline-block;
    background-image: url("../svg/home.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: $transition;
    overflow: hidden;
    color: transparent;

    &:hover {
      opacity: .6;
      color: transparent;
    }
  }

  a {
    font-size: map-get($breadcrumbs, font-size);
    color: #B8B8B8;
    font-weight: map-get($breadcrumbs, link-font-weight);

    &:hover {
      color: map-get($breadcrumbs, link-hover);
    }

    @include sm {
      font-size: map-get($breadcrumbs, font-size-mobile);
    }
  }
}