.btn-global {
  padding: 12px 30px;
  height: map-get($btn-global, height);
  min-width: map-get($btn-global, min-width);
  width: max-content;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  line-height: 22px;
  font-size: 18px;
  text-transform: map-get($btn-global, text-transform);
  font-weight: 700;
  font-family: map-get($btn-global, font-family);
  letter-spacing: 0.9px;
  z-index: 2;
  border-radius: 10px;
  transition: $transition;
  background-color: $baseThirdly;
  text-decoration: none;
  color: map-get($btn-global, color);
  border: map-get($btn-global, border);
  gap: 10px;

  @include lg {
    font-size: 16px;
  }

  &::after {
    content: '';
    @include size(24px);
    background-image: url("../svg/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: $transition;
  }

  &:hover {
    color: $polsonNavy;
    box-shadow: $shadowBox;
    background-color: $baseWhite;

    &::after {
      border-color: $polsonNavy;
    }

    &::before {
      background-color: $polsonNavy;
    }
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }


}


header.header {
  button {
    &.burger {
      padding: 0;
      @include size(map-get($burger, width));
      display: none;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      z-index: 33333;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      cursor: pointer;
      overflow: hidden;

      &:focus,
      &:active,
      &:hover {
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
      }

      @include lg {
        display: flex;
      }

      .burger-svg {
        @include size(100%);

        path {
          stroke: $polsonBlue;
          stroke-width: 1px;
          transition: map-get($burger, animation-transition);

          &.burger-close {
            transform: translateX(100%);
          }
        }
      }

      &-active {
        path {
          &.burger-icon {
            stroke: transparent;
            stroke-width: 0;
            transform: translateX(-100%);
          }

          &.burger-close {
            stroke: $polsonBlue;
            stroke-width: 1px;
            transform: translateX(0) !important;
          }
        }
      }
    }
  }
}

.socials {
  padding: 0;
  margin: 15px 0 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include lg {
    justify-content: center;
  }

  li {
    list-style-type: none;
    padding: 0;
    margin: 0 5px;
  }

  a {
    padding: 0;
    @include size(25px);
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: translateY(-3px);

      svg {
        fill: $baseThirdly;
      }
    }
  }

  svg {
    margin: 0;
    @include size(100%);
    fill: $baseThirdly;
    transition: $transition;
  }
}

.social-share {
  width: 100%;
  padding-bottom: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  a {
    margin: 0 10px;
    @include size(45px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    transition: $transition;

    &:hover {
      transform: translateY(-5px);
    }

    svg {
      @include size(60%);
      fill: $baseWhite;
      transition: $transition;
    }
  }

  &-twitter {
    background-color: #55ACEE;
  }

  &-facebook {
    background-color: #1877F2;
  }

  &-linkedin {
    background-color: #0077B5;
  }

  &-pinterest {
    background-color: #E60019;
  }
}

#scrollToTop {
  display: block;
  padding: 0;
  margin: 0;
  opacity: map-get($btn-up, opacity);
  text-align: center;
  font-weight: 700;
  @include size(map-get($btn-up, size));
  text-decoration: none;
  position: fixed;
  bottom: map-get($btn-up, bottom);
  right: map-get($btn-up, right);
  z-index: 99999999;
  cursor: pointer;
  overflow: hidden;
  border-radius: map-get($btn-up, border-radius);
  border: map-get($btn-up, border);
  background-color: $ctaColor;
  outline: none;
  transition: $transition;

  @include lg {
    display: none;
  }

  &:hover {
    background: map-get($btn-up, hover);
    opacity: 1;
  }

  svg {
    @include size(map-get($btn-up, svg-size));
    fill: map-get($btn-up, svg-fill);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

#scrollToTop.btn-up-active {
  bottom: map-get($btn-up, active-bottom);
}

.btn-nav.btn-next {
  left: initial;
  right: -90px;

  @include xl {
    right: -30px;
  }

  @include xs {
    right: 0;
  }

  svg {
    transform: rotate(-180deg);
  }
}

.btn-nav {
  @include size(25px, 80px);
  position: absolute;
  top: 50%;
  left: -90px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transform: translateY(-50%);
  background: none;
  border-radius: 0;
  z-index: 1;

  @include xl {
    left: -30px;
  }

  @include xs {
    display: none;
    @include size(20px, 65px);
    left: 0;
  }

  &:hover svg {
    fill: $baseThirdly;
  }

  svg {
    @include size(100%);
    fill: $baseSecondary;
    transition: $transition;
  }
}

.btn-download {
  color: $baseThirdly;
  text-align: center;
  font-family: $baseFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn-global-blue {
  @extend .btn-global;
  background-color: $polsonNavy;
  color: $baseWhite;
}