// TODO Footer - Styles

// .site-footer {
//   width: 100%;
// }

// .footer {
//   width: 100%;
//   padding: 50px 0 0;
//   background-color: $baseWhite;

//   &-info {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 20px;

//     .maps-phone,
//     .maps-mail,
//     .maps-address {
//       display: flex;
//       gap: 10px;

//       svg {
//         width: 20px;
//         height: 20px;
//       }

//       @include lg {
//         justify-content: center;
//         align-items: center;
//       }

//       .phone {
//         color: $baseThirdly;
//         font-family: $baseFont;
//         font-size: 21px;
//         font-weight: 700;
//         line-height: 31.5px;
//       }

//       .mail {
//         color: $baseFourthly;
//         font-family: $baseFont;
//         font-size: 18px;
//         font-style: normal;
//         line-height: 27px;
//         transition: $transition;

//         &:hover {
//           color: $baseThirdly;
//         }
//       }

//       .address {
//         color: $baseFourthly;
//         font-family: $robotoFont;
//         font-size: 18px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 27px;
//       }
//     }

//     .maps-mail,
//     .maps-phone {
//       align-items: center;
//     }

//     .footer-title {
//       color: $polsonBlue;
//       margin-bottom: 0;
//       font-family: $titleFont;
//       font-size: 24px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 36px;
//       letter-spacing: -0.24px;

//       @include lg {
//         text-align: center;
//       }

//       &::before {
//         display: none !important;
//       }
//     }
//   }

//   &-social {
//     display: flex;
//     gap: 36px;

//     @include lg {
//       justify-content: center;
//     }

//     img {
//       max-width: 25px;
//       transition: $transition;

//       &:hover {
//         transform: scale(1.1);
//       }
//     }
//   }

//   &-logotype {
//     @include size(324px, 105px);
//     display: block;
//     margin-bottom: 32px;

//     @include lg {
//       margin: 0 auto;
//       margin-bottom: 30px
//     }

//     @include min-lg {
//       @include size(100%, auto);
//     }

//     @include min-xl {
//       @include size(324px, 105px);
//     }

//     img,
//     picture {
//       @include size(100%);
//       display: block;


//     }
//   }

//   &-copyright {
//     width: 100%;
//     padding: 15px 0;

//     p {
//       text-align: center;
//       font-size: 14px;
//       color: $baseFourthly;

//       @include sm {
//         font-size: 12px;
//       }

//       br {
//         display: none;

//         @include xs {
//           display: block;
//         }
//       }

//       a {
//         color: $polsonBlue;

//         &:hover {
//           color: $baseThirdly;
//         }
//       }
//     }
//   }

//   &-menu-top {
//     display: flex;
//     justify-content: space-between;

//     ul {
//       gap: 0;
//       justify-content: flex-start;

//       @include lg {
//         flex-direction: row;
//         gap: 15px;
//         flex-wrap: wrap;
//         justify-content: center;
//       }

//       li {
//         border-right: 1px solid $baseFourthly;

//         @include lg {
//           width: fit-content;
//         }

//         a {
//           color: $baseFourthly;
//           font-family: $baseFont;
//           font-size: 16px;
//           font-style: normal;
//           font-weight: 500;
//           line-height: 36.8px;
//           letter-spacing: 0.8px;
//           text-transform: uppercase;
//           padding: 0 10px 0 0;
//           margin: 0;

//           &:hover {
//             color: $polsonBlue;
//           }

//           @include min-lg {
//             font-size: 14px;
//             letter-spacing: 0;
//             line-height: normal;
//           }

//           @include min-xxl {
//             font-size: 16px;
//             letter-spacing: 0.8px;
//           }
//         }

//         &:last-child {
//           border-right: none;
//         }
//       }
//     }
//   }

//   .footer-title {
//     color: $polsonBlue;
//     font-family: $titleFont;
//     font-size: 24px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 36px;
//     letter-spacing: -0.24px;
//     margin-top: 30px;
//     display: block;
//     position: relative;
//     width: fit-content;

//     &::before {
//       content: '';
//       width: 140px;
//       height: 1px;
//       background-color: #333;
//       position: absolute;
//       left: 50%;
//       bottom: 0;
//       transform: translateX(-50%);
//     }

//     @include lg {
//       text-align: center;
//       width: fit-content;
//       margin: 0 auto;
//       margin-top: 60px;
//     }
//   }

//   &-menu-bottom {
//     margin-top: 15px;

//     @include lg {
//       margin-top: 0;
//       text-align: center;
//     }

//     ul {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       gap: 0;

//       li {

//         a {
//           color: $baseFourthly;
//           font-family: $baseFont;
//           font-size: 18px;
//           font-style: normal;
//           font-weight: 400;
//           line-height: 46px;
//           letter-spacing: 0;

//           &:hover {
//             color: $polsonBlue;
//           }

//           @include lg {
//             text-transform: capitalize;
//             padding: 5px;
//           }
//         }

//         &:last-child {
//           border-right: none;
//         }
//       }
//     }
//   }
// }

// .hennessey-logo {
//   margin-top: 20px;
//   width: 186.613px;
//   height: 57.277px;
// }

// .app-store {
//   color: $polsonBlue;
//   font-family: $baseFont;
//   font-size: 18px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 46px;

//   @include lg {
//     text-align: center;
//   }

//   &:hover {
//     color: $polsonBlue;
//   }
// }
.site-footer {
  margin-top: 170px;
  @include md {
    margin-top: 40px;
  }
  .wrap {
    & > p {
      display: none;
    }
  }
}
.footer {
  .container-footer {
    width: 100%;
    overflow: hidden;
    position: relative;
    // transform: translateY(-400px);
  }
  
  .orange {
    border-radius: 150px;
    height: 650px;
    height: 720px;
    width: 102%;
    border-radius: 150px 150px 0 0;
    background-color: #1684de;
    transform: rotate(5deg) translate(0, 50px);
    
    @include md {
      width: 108%;
      height: 950px;
    }
    @include sm {
      width: 100%;
      height: auto;
      transform: rotate(0) translate(0);
    }
  }
  
  .grey {
    border-radius: 150px;
    height: 650px;
    width: 100%;
    transform: rotate(3deg) translate(-17px, 31px);
    background-color: #f6f6f6;
    @include md {
      height: 950px;
    }
    @include sm {
      border-radius: 0;
      width: 100%;
      height: auto;
      transform: rotate(0) translate(0);
    }
  }
  
  .first-texts {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #003057;
  
    p {
      margin-left: 16px;
      margin-top: 16px;

      span {
        display: block;
      }
    }
  }
  
  .row-bottom-footer {
    align-items: flex-end;
    margin-top: 50px;
  
    .text-right {
      &:last-child {
        margin: 0;
      }
    }
  }
  
  .subtitle-footer {
    margin: 0;
  }
  
  .title-footer {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
  }
  
  .impressum-modal-button {
    -webkit-appearance: none !important;
    appearance: textfield;
  }
  
  #cookie-law-info-bar {
    width: 400px !important;
    opacity: 0.9;
    transition: .5s;
  
    &:hover {
      opacity: 1;
    }
  }
  .footer-content {
    padding: 130px 150px 100px 150px;
    transform: rotate(-8deg);
    color: #003057;
    @include lg {
      padding: 130px 50px 100px;
    }
    @include md {
      padding: 80px 100px 60px;

      & > .row {
        .col-lg-4 {
          justify-content: center;
        }
        .col-lg-8 {
          text-align: center;
          ul {
            li {
              list-style-image: none;

            }
          }
        }
      }
      .row-bottom-footer {
        @include md {
          text-align: center;
        }
      }
    }
    @include sm {
      padding: 80px 30px 60px;
      transform: rotate(0);
    }
  
    a {
      color: $baseSubtitle;
    }
  
    .image-icon {
      max-width: 25px;
      margin: 0 25px;
    }
  
    li {
      list-style-image: url("../svg/arrow.svg");
      margin: 5.5px 0;
    }
  
    ul {
      padding: 0 0 0 17px;
    }
  }
}