#hd-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;

  .hd-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

    .hd-modal-top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .hd-modal-title {
        display: block;
        font-size: 22px;
        padding: 8px 20px;
        margin: 0;
        line-height: 1.2;

        @include md {
          font-size: 18px;
        }
      }

      .hd-modal-close {
        padding: 10px;
        line-height: 1;
        cursor: pointer;

        @include md {
          padding: 6px;
        }
      }
    }

    .hd-modal-before {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-bottom: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none; /* To remove iframe border */
      }
    }
  }
}

.open-hd-modal {
  cursor: pointer;
}

.open-hd-modal-img {
  @include md {
    width: 100%;
    height: auto;
  }
}