// TODO Hero Styles - Styles


.hero-intro {
  position: relative;
  margin-top: 250px;
  @include md {
    margin-top: 150px;
  }
  .line {
    position: absolute;
    width: 100%;
    left: 0;
    top: -150px;
    z-index: -1;
  }
  .typing-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 125%;
    margin: 0 0 40px;
    color: $baseSubtitle;
    height: 100px;
    @include md {
      font-size: 20px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .button {
    width: 400px;
    @include md {
      width: 200px;
    }
  }
}


// .homepage-hero,
// .internal-hero {
//   min-height: map-get($hero, min-height);
//   padding: map-get($hero, padding);
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: map-get($hero, justify-content);
//   align-items: map-get($hero, align-items);

//   @include lg {
//     padding-bottom: 0;
//     position: relative;
//   }

//   &-wrap {
//     width: 100%;
//     background-image: url('../img/dannycarissahero.webp');
//     background-position: right;
//     background-size: cover;
//     background-repeat: no-repeat;
//     position: relative;

//     .container {
//       position: relative;
//       z-index: 3;
//       .attorney-thumbnail {
//         width: 40%;
//         height:auto;
//         position:absolute;
//         right:0;
//         @include sm {
//           display:none;
//         }
//       }
//     }

//     @include lg {
//       background-image: none;
//     }

//     .internal-hero__img {
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       max-width: 578px;
//       max-height: 628px;
//       object-fit: contain;
//       display: none;

//       @include lg {
//         display: block;
//       }
//     }
//   }

//   h1 {
//     color: $baseWhite;
//     font-family: $titleFont;
//     font-size: 64px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 80px;
//     letter-spacing: -0.64px;
//     margin-bottom: 10px;

//     @include lg {
//       max-width: 100%;
//       color: #FFF;
//       text-align: center;
//       font-size: 42px;
//       line-height: 52.5px;
//       letter-spacing: -0.42px;
//     }
//   }

//   p {
//     color: $baseWhite;
//     font-family: $baseFont;
//     font-size: 21px;
//     font-style: normal;
//     font-weight: 600;
//     line-height: 36px;
//     letter-spacing: -0.24px;

//     @include lg {
//       text-align: center;
//       font-size: 21px;
//       line-height: 31.5px;
//       letter-spacing: -0.21px;
//     }
//   }

//   .btn-global {
//     @include md {
//       margin-top: -50px;
//       margin-bottom: -20px;
//     }
//   }

//   .google_review {
//     display: flex;
//     align-items: flex-start;
//     flex-direction: column;
//     gap: 10px;

//     @include lg {
//       justify-content: center;
//     }

//     .stars {
//       display: flex;
//       align-items: center;
//       gap: 5px;

//       .star {
//         fill: #FFC300;
//       }
//     }

//     .google-icon {
//       max-width: 37px;
//     }

//     span {
//       color: $baseWhite;
//       text-align: center;
//       font-family: $titleFont;
//       font-size: 36.522px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 45.6px;
//       letter-spacing: -0.365px;
//     }

//     .text {
//       color: $baseWhite;
//       font-family: $titleFont;
//       font-size: 22.828px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 34px;
//       letter-spacing: -0.228px;
//       margin-top: 0;
//     }
//   }
// }

// .post-type-archive-attorney {
//   .internal-hero {
//     min-height: map-get($hero, min-height);
//     padding: map-get($hero, padding);
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: map-get($hero, justify-content);
//     align-items: map-get($hero, align-items);
  
//     @include lg {
//       padding-bottom: 0;
//       position: relative;
//     }
  
//     &-wrap {
//       width: 100%;
//       background-image: url('../img/dannycarissahero.webp');
//       background-position: right;
//       background-size: cover;
//       background-repeat: no-repeat;
//       position: relative;
  
//       .container {
//         position: relative;
//         z-index: 3;
//         .attorney-thumbnail {
//           width: 40%;
//           height:auto;
//           position:absolute;
//           right:0;
//           @include sm {
//             display:none;
//           }
//         }
//       }
  
//       @include lg {
//         background-image: none;
//       }
  
//       .internal-hero__img {
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         max-width: 578px;
//         max-height: 628px;
//         object-fit: contain;
//         display: none;
  
//         @include lg {
//           display: block;
//         }
//       }
//     }
  
//     h1 {
//       color: $baseWhite;
//       font-family: $titleFont;
//       font-size: 64px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 80px;
//       letter-spacing: -0.64px;
//       margin-bottom: 10px;
  
//       @include lg {
//         max-width: 100%;
//         color: #FFF;
//         text-align: center;
//         font-size: 42px;
//         line-height: 52.5px;
//         letter-spacing: -0.42px;
//       }
//     }
  
//     p {
//       color: $baseWhite;
//       font-family: $baseFont;
//       font-size: 21px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 36px;
//       letter-spacing: -0.24px;
  
//       @include lg {
//         text-align: center;
//         font-size: 21px;
//         line-height: 31.5px;
//         letter-spacing: -0.21px;
//       }
//     }
  
//     .btn-global {
//       @include md {
//         margin-top: -50px;
//         margin-bottom: -20px;
//       }
//     }
  
//     .google_review {
//       display: flex;
//       align-items: flex-start;
//       flex-direction: column;
//       gap: 10px;
  
//       @include lg {
//         justify-content: center;
//       }
  
//       .stars {
//         display: flex;
//         align-items: center;
//         gap: 5px;
  
//         .star {
//           fill: #FFC300;
//         }
//       }
  
//       .google-icon {
//         max-width: 37px;
//       }
  
//       span {
//         color: $baseWhite;
//         text-align: center;
//         font-family: $titleFont;
//         font-size: 36.522px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 45.6px;
//         letter-spacing: -0.365px;
//       }
  
//       .text {
//         color: $baseWhite;
//         font-family: $titleFont;
//         font-size: 22.828px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 34px;
//         letter-spacing: -0.228px;
//         margin-top: 0;
//       }
//     }
//   }
// }
// .page-template-our-attorney {
//   .internal-hero {
//     min-height: map-get($hero, min-height);
//     padding: map-get($hero, padding);
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: map-get($hero, justify-content);
//     align-items: map-get($hero, align-items);
  
//     @include lg {
//       padding-bottom: 0;
//       position: relative;
//     }
  
//     &-wrap {
//       width: 100%;
//       background-image: url('../img/dannycarissahero.webp');
//       background-position: right;
//       background-size: cover;
//       background-repeat: no-repeat;
//       position: relative;
  
//       .container {
//         position: relative;
//         z-index: 3;
//       }
  
//       @include lg {
//         background-image: url('../img/single-attorney-hero.webp');
//       }
  
//       .internal-hero__img {
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         max-width: 578px;
//         max-height: 628px;
//         object-fit: contain;
//         display: none;
  
//         @include lg {
//           display: block;
//         }
//       }
//     }
  
//     h1 {
//       color: $baseWhite;
//       font-family: $titleFont;
//       font-size: 64px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 80px;
//       letter-spacing: -0.64px;
//       margin-bottom: 10px;
  
//       @include lg {
//         max-width: 100%;
//         color: #FFF;
//         text-align: center;
//         font-size: 42px;
//         line-height: 52.5px;
//         letter-spacing: -0.42px;
//       }
//     }
  
//     p {
//       color: $baseWhite;
//       font-family: $baseFont;
//       font-size: 21px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 36px;
//       letter-spacing: -0.24px;
  
//       @include lg {
//         text-align: center;
//         font-size: 21px;
//         line-height: 31.5px;
//         letter-spacing: -0.21px;
//       }
//     }
  
//     .btn-global {
//       @include md {
//         margin-top: -50px;
//         margin-bottom: -20px;
//       }
//     }
  
//     .google_review {
//       display: flex;
//       align-items: flex-start;
//       flex-direction: column;
//       gap: 10px;
  
//       @include lg {
//         justify-content: center;
//       }
  
//       .stars {
//         display: flex;
//         align-items: center;
//         gap: 5px;
  
//         .star {
//           fill: #FFC300;
//         }
//       }
  
//       .google-icon {
//         max-width: 37px;
//       }
  
//       span {
//         color: $baseWhite;
//         text-align: center;
//         font-family: $titleFont;
//         font-size: 36.522px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 45.6px;
//         letter-spacing: -0.365px;
//       }
  
//       .text {
//         color: $baseWhite;
//         font-family: $titleFont;
//         font-size: 22.828px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 34px;
//         letter-spacing: -0.228px;
//         margin-top: 0;
//       }
//     }
//   }
// }
// .single-attorney{
//   .internal-hero {
//     min-height: map-get($hero, min-height);
//     padding: map-get($hero, padding);
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: map-get($hero, justify-content);
//     align-items: map-get($hero, align-items);
  
//     @include lg {
//       padding-bottom: 0;
//       position: relative;
//     }
  
//     &-wrap {
//       width: 100%;
//       background-image: url('../img/single-attorney-hero.webp');
//       background-position: right;
//       background-size: cover;
//       background-repeat: no-repeat;
//       position: relative;
  
//       .container {
//         position: relative;
//         z-index: 3;
//       }
  
//       @include lg {
//         background-image: url('../img/single-attorney-hero.webp');
//       }
  
//       .internal-hero__img {
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         max-width: 578px;
//         max-height: 628px;
//         object-fit: contain;
//         display: none;
  
//         @include lg {
//           display: block;
//         }
//       }
//     }
  
//     h1 {
//       color: $baseWhite;
//       font-family: $titleFont;
//       font-size: 64px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 80px;
//       letter-spacing: -0.64px;
//       margin-bottom: 10px;
  
//       @include lg {
//         max-width: 100%;
//         color: #FFF;
//         text-align: center;
//         font-size: 42px;
//         line-height: 52.5px;
//         letter-spacing: -0.42px;
//       }
//     }
  
//     p {
//       color: $baseWhite;
//       font-family: $baseFont;
//       font-size: 21px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 36px;
//       letter-spacing: -0.24px;
  
//       @include lg {
//         text-align: center;
//         font-size: 21px;
//         line-height: 31.5px;
//         letter-spacing: -0.21px;
//       }
//     }
  
//     .btn-global {
//       @include md {
//         margin-top: -50px;
//         margin-bottom: -20px;
//       }
//     }
  
//     .google_review {
//       display: flex;
//       align-items: flex-start;
//       flex-direction: column;
//       gap: 10px;
  
//       @include lg {
//         justify-content: center;
//       }
  
//       .stars {
//         display: flex;
//         align-items: center;
//         gap: 5px;
  
//         .star {
//           fill: #FFC300;
//         }
//       }
  
//       .google-icon {
//         max-width: 37px;
//       }
  
//       span {
//         color: $baseWhite;
//         text-align: center;
//         font-family: $titleFont;
//         font-size: 36.522px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 45.6px;
//         letter-spacing: -0.365px;
//       }
  
//       .text {
//         color: $baseWhite;
//         font-family: $titleFont;
//         font-size: 22.828px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 34px;
//         letter-spacing: -0.228px;
//         margin-top: 0;
//       }
//     }
//   }
// }

// .results {
//   color: $baseWhite;
//   padding-bottom: 30px;
//   padding-top: 20px;
//   position: relative;

//   @include lg {
//     background-color: $polsonNavy;
//     padding-top: 80px;
//   }

//   .row {
//     flex-wrap: nowrap;
//     overflow: auto;
//     padding-bottom: 20px;

//     &::-webkit-scrollbar {
//       height: 3px;
//     }

//     &::-webkit-scrollbar-track {
//       background: #838383;
//     }

//     &::-webkit-scrollbar-thumb {
//       background: #D7D7D7;
//       border-radius: 0;
//     }
//   }

//   &__card {
//     width: fit-content;

//     h2 {
//       font-family: $titleFont;
//       font-size: 55px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 68.75px;
//       letter-spacing: -1.1px;
//       margin-bottom: 0;
//       margin-top: 0;

//       span {
//         font-family: $titleFont;
//         color: $ctaColor;
//         font-size: 36px;
//         font-style: normal;
//         font-weight: 600;
//         line-height: 125%;
//         letter-spacing: -0.72px;
//       }
//     }

//     .sub-title {
//       font-family: $baseFont;
//       font-size: 15px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 26.5px;
//       text-transform: uppercase;
//       display: block;
//       text-align: center;

//       @include lg {
//         text-transform: none;
//       }
//     }

//     hr {
//       width: 76px;
//       margin: 5px auto;
//       border: none;
//       height: 1px;
//       background-color: $ctaColor;
//     }
//   }
// }

// .podcast-bg {
//   background-image: url('../img/podcast-bg.webp');
//   background-position: left;

//   &::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $polsonBlue;
//     opacity: 0.5;
//     content: '';
//   }

//   @include xs {
//     background-image: unset;
//   }

//   .bg-podcast {
//     @include xs {
//       background-image: url('../img/podcast-mobile-2.webp');
//       background-size: 100% 100%;
//       background-repeat: no-repeat;
//       position: relative;

//       &::before {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: $polsonBlue;
//         opacity: 0.5;
//         content: '';
//       }

//     }
//   }

// }


// .google_review {
//   display: flex;
//   align-items: flex-start;
//   flex-direction: column;
//   gap: 10px;

//   @include lg {
//     justify-content: center;
//   }

//   .stars {
//     display: flex;
//     align-items: center;
//     gap: 5px;

//     @include lg {
//       margin: 0 auto;
//     }

//     .star {
//       fill: #FFC300;
//     }
//   }

//   .google-icon {
//     max-width: 37px;
//   }

//   span {
//     color: $baseWhite;
//     text-align: center;
//     font-family: $titleFont;
//     font-size: 36.522px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 45.6px;
//     letter-spacing: -0.365px;
//   }

//   .text {
//     color: $baseWhite;
//     font-family: $titleFont;
//     font-size: 22.828px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 34px;
//     letter-spacing: -0.228px;
//     margin-top: 0;

//     @include lg {
//       max-width: 70%;
//       text-align: center;
//       margin: 0 auto;
//     }
//   }
// }