// TODO Pagination By Default - Styles

.pagination {
  width: 100%;
  margin: map-get($pagination, margin);
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: map-get($pagination, justify-content);
    align-items: center;
    padding: 0;
    margin: 0;
    li {
      margin: map-get($pagination, link-margin);
      list-style-type: none;
      font-size: map-get($pagination, font-size);
      background-color: map-get($pagination, background);
      color: map-get($pagination, color);
      font-weight: map-get($pagination, font-weight);
      line-height: 1.3;
      @include sm {
        font-size: map-get($pagination, font-size-mobile);
      }
      &.active {
        a {
          color: map-get($pagination, hover);
        }
      }
      &.pagination-omission {
        padding: map-get($pagination, link-padding);
        @include sm {
          padding: map-get($pagination, link-padding-mobile);
        }
      }
      a {
        display: inline-block;
        padding: map-get($pagination, link-padding);
        font-size: map-get($pagination, font-size);
        font-weight: map-get($pagination, font-weight);
        line-height: 1.3;
        color: map-get($pagination, color);
        &:hover {
          color: map-get($pagination, hover);
        }
        @include sm {
          padding: map-get($pagination, link-padding-mobile);
          font-size: map-get($pagination, font-size-mobile);
        }
      }
    }
  }
}