// TODO Sidebar Form - Styles

.sidebar .standard-form {
  width: 100%;
  padding: map-get($sidebar-form, padding-top) map-get($sidebar-form, padding-right) map-get($sidebar-form, padding-bottom) map-get($sidebar-form, padding-left);
  background: $ctaColor;
  border-radius: map-get($sidebar-form, border-radius);

  @include sm {
    padding: map-get($sidebar-form, padding-top) map-get($sidebar-form, padding-right-mobile) map-get($sidebar-form, padding-bottom) map-get($sidebar-form, padding-left-mobile);
  }

  .contact-form {
    box-shadow: unset;
    margin-top: 0;
    padding: 0;

    @include lg {
      padding: 0;
    }

    .form-control {
      padding-left: 10px;
    }
  }

  &-head {
    width: 100%;

    p {
      color: $baseWhite;
      text-align: center;
      font-family: $baseFont;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: 31.5px;
      margin-top: 5px;
    }

    img {
      width: 112.646px;
      height: 61.988px;
      display: block;
      margin: 5px auto
    }

    h3 {
      color: $baseWhite;
      text-align: center;
      font-family: $titleFont;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: -0.72px;
      margin: 0;
    }
  }
}

body .lead-form {
  width: 100%;

  form {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;

    br {
      display: none;
    }

    p {
      margin: 0;
      width: 100%;
    }

    .label,
    label {
      width: 100%;
      display: block;
      margin: 0 0 15px;

      input,
      textarea,
      select {
        width: 100%;
        height: map-get($sidebar-form-inputs, height);
        padding: 0 15px;
        display: block;
        font-family: $baseFont;
        font-size: map-get($sidebar-form-inputs, font-size);
        background-color: $baseWhite;
        color: map-get($sidebar-form-inputs, color);
        border: none;
        font-weight: map-get($sidebar-form-inputs, font-weight);

        &::placeholder {
          color: map-get($sidebar-form-inputs, color-placeholder);
        }
      }

      textarea {
        padding: 10px 15px;
        height: map-get($sidebar-form-inputs, textarea-height);
        resize: none;
      }
    }

    .wpcf7-not-valid-tip {
      font-size: map-get($sidebar-form-inputs, errors-font-size);
      color: map-get($sidebar-form-inputs, errors-color);
    }

    .wpcf7-response-output {
      font-size: map-get($sidebar-form-inputs, info-font-size);
      margin: 15px 0 0;
      color: map-get($sidebar-form-inputs, info-color);
      padding: 10px 15px;
      text-align: center;
      border: 2px solid map-get($sidebar-form-inputs, info-color-border);
    }

    .submit {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        @extend .btn-global;
        width: 100%;
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
}