// TODO Widget By Default - Styles

.sidebar .widget {
  &:not(:first-child) {
    margin-top: 30px;
  }

  &.location-widget-outer {
    background-color: #040E1F;

    ul.location-widget-links {
      margin-top: 15px;
    }
  }

  ul {
    padding: 0 map-get($widget-default, padding-right) map-get($widget-default, padding-bottom) map-get($widget-default, padding-left);

    @include xs {
      padding: 0 map-get($widget-default, padding-right-mobile) map-get($widget-default, padding-bottom) map-get($widget-default, padding-left-mobile);
    }
  }
}

.sidebar .widget-title {
  color: $baseWhite;
  font-family: $titleFont;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  margin-bottom: 0;
  padding: map-get($widget-default, padding-top) map-get($widget-default, padding-right) map-get($widget-default-title, margin-bottom) map-get($widget-default, padding-left);
  position: relative;
  padding-bottom: 10px;

  @include sm {
    font-size: map-get($widget-default-title, font-size-mobile);
  }

  @include xs {
    padding: map-get($widget-default, padding-top) map-get($widget-default, padding-right-mobile) map-get($widget-default-title, margin-bottom) map-get($widget-default, padding-left-mobile);
  }

  &:not(.widget-title-faq) {
    border-radius: map-get($widget-default, border-radius) map-get($widget-default, border-radius) 0 0;
  }

  br+br {
    display: none;
  }

  &::before {
    content: '';
    width: 218px;
    height: 1px;
    position: absolute;
    left: 30;
    bottom: 0;
    background-color: $ctaColor;
  }
}

.widget-wrap ul {
  margin: 0;
  padding: 0;
  border-radius: 0 0 map-get($widget-default, border-radius) map-get($widget-default, border-radius);
  position: relative;
  z-index: 1;

}

.widget-wrap ul li,
.location-widget-links .single-location-link {
  margin: 0;
  list-style-type: none;
}

.widget-wrap ul li a,
.location-widget-links .single-location-link a {
  color: $baseWhite;
  font-family: $baseFont;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 48.51px;
  position: relative;

  @include sm {
    font-size: map-get($widget-default-link, font-size-mobile);
  }

  @if(map-get($widget-default-link, arrow-symbol)==true) {
    padding: 0 0 0 map-get($widget-default-link, padding-left);

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      transform: translateY(-50%) rotate(-45deg);
      left: 0;
      z-index: 1;
      @include size(8px);
      border: solid $baseWhite;
      border-width: 0 map-get($widget-default-link, arrow-width) map-get($widget-default-link, arrow-width) 0;
      display: inline-block;
      padding: 2px;
      transition: $transition;
    }

    &:hover {
      &::before {
        transform: translateY(-50%) translateX(5px) rotate(-45deg);
        border: solid $ctaColor;
        border-width: 0 map-get($widget-default-link, arrow-width) map-get($widget-default-link, arrow-width) 0;
      }
    }
  }

  @else if (map-get($widget-default-link, dot-symbol)==true) {
    padding: 0 0 0 map-get($widget-default-link, padding-left);

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      transform: translateY(-50%);
      left: 0;
      z-index: 1;
      @include size(5px);
      border-radius: 50%;
      display: block;
      transition: $transition;
      background-color: $baseWhite;
    }

    &:hover {
      &::before {
        @include size(10px, 5px);
        border-radius: 2px;
        background-color: $ctaColor;
      }
    }
  }

  &:hover {
    color: $ctaColor;
  }
}