// TODO Shortcode Styles - Variables

$hc-map: (
    border: 2px solid $basePrimary,
    title-font-size: 24px,
    font-size: 18px,
    font-size-mobile: 16px,
    color: $baseBlack,
    link-color: $basePrimary,
    link-hover: $baseThirdly,
    link-font-weight: 700,
);