// TODO Widget Titles Setting - Variables

$widget-titles: (
    width: 305px,
    width-xxl: 270px,
    position-start-top: 200px,
    position-stop-bottom: 50px,
    position-start-top-admin-bar: calc(200px + 32px),
    position-stop-bottom-admin-bar: 50px
);

$widget-titles-title: (
    margin-bottom: 20px,
    font-size: 26px,
    color: $basePrimary,
    text-transform: capitalize,
    font-family: $titleFont,
    font-weight: 700,
    letter-spacing: 0.24px,
    line-height: 1.1
);

$widget-titles-link: (
    margin-bottom: 15px,
    font-size: 14px,
    color: $baseBlack,
    color-hover: $basePrimary,
    color-active: $baseThirdly,
    text-transform: capitalize,
    font-family: $baseFont,
    font-weight: 400,
    letter-spacing: normal,
    line-height: 1.3
);
