.page-template-about-us {
    .internal-hero-wrap {
        background-image: url('../img/dannycarissahero.webp');

        @include lg {
            background-image: url('../img/about-us-bg-mobile.webp');
        }

        .internal-hero {
            padding-bottom: 0;
        }
    }

    .google_review,
    .results {
        @include lg {
            background-color: $polsonNavy;
        }
    }

    .google_review {
        @include lg {
            align-items: center;

            .text {
                max-width: 60%;
                text-align: center;
            }
        }

    }

    .results {
        @include lg {
            margin-top: 0;
        }
    }
}

.about-us-banner {
    position: relative;

    @include lg {
        background-image: url('../img/about-us-banner-mob.webp');
        height: auto;
        padding-bottom: 400px;
        padding-top: 40px;
        background-size: 100% 100%;
    }

    .about-us-wrapper {
        @include min-lg {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .row {
        width: 100%;

        .content {
            color: $baseWhite;
            font-family: $baseFont;
            font-size: 21px;
            line-height: 31.5px;
            letter-spacing: -0.21px;
        }
    }

    p {
        color: $baseWhite;
    }
}

.law-firm {
    background-image: url('../img/law-firm.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: $baseWhite;

    @include lg {
        background-image: url('../img/railroad-mobile.webp');
    }

    p {
        color: $baseWhite;
        font-family: $baseFont;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 31.5px;
        letter-spacing: -0.21px;

        @include lg {
            color: $polsonNavy;
        }
    }

    .title {
        color: $baseWhite;
        font-family: $titleFont;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1.28px;
        text-transform: capitalize;
        margin-bottom: 15px;
        position: relative;

        &.show {
            &::before {
                width: 500px;

                @include lg {
                    width: 100px;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $ctaColor;
            transition: width 0.4s ease-in-out 0.7s;

            @include lg {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        @include lg {
            text-align: center;
            font-size: 42px;
            line-height: 52.5px;
            letter-spacing: -0.42px;
            color: $polsonBlue;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .right-content {

        img {
            max-width: 390.677px;
            max-height: 390.677px;

            @include lg {
                width: 150px;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .law-firm_footer {
        @include min-lg {
            padding-bottom: 100px;
        }

        .content {
            margin-top: 180px;
            padding-bottom: 50px;
        }

        .title {
            color: $baseWhite;
            text-align: center;
            font-family: $signFont;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: -1.28px;
            margin-bottom: 0;

            @include lg {
                font-size: 60px;
                font-style: normal;
                font-weight: 400;
                line-height: 75px;
                letter-spacing: -1.2px;
                margin-bottom: 10px;
            }
        }

        p {
            color: $baseWhite;
            text-align: center;
            font-family: $baseFont;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 31.5px;
            letter-spacing: -0.21px;
            margin-top: 0;

            strong {
                color: $ctaColor;
            }
        }
    }
}

.landing-section {
    background-image: url('../img/landing-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color: $baseWhite;
    padding: 100px 0;

    .row {
        @include lg {
            flex-direction: column-reverse;
        }
    }

    .left-col {

        .image {
            position: relative;

            .play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 170px;
                cursor: pointer;

                @include lg {
                    max-width: 70px;
                }
            }
        }

        #video {
            max-width: 637px;
            width: 100%;
        }
    }

    .right-col {
        padding-left: 70px;

        &.show {
            h2::before {
                width: 79px;
            }
        }

        h2 {
            font-family: $signFont;
            font-size: 64px;
            font-style: normal;
            line-height: 80px;
            letter-spacing: -1.28px;
            text-transform: capitalize;
            margin-top: 0;
            font-weight: 400;
            position: relative;
            margin-bottom: 20px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -55px;
                transform: translateY(-50%);
                width: 0;
                height: 1px;
                background-color: $ctaColor;
                transition: width 0.5s ease 0.5s;
            }

            @include lg {
                font-size: 45px;
                text-align: center;
            }
        }

        p {
            color: $baseWhite;
            font-family: $robotoFont;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;

            @include lg {
                text-align: center;
            }
        }
    }
}

.page-template-about-us {
    .breadcrumb {
        border-bottom: 0;

        @include min-lg {
            position: absolute;
            top: 0;
            left: 50px;
        }

        @include lg {
            padding: 0;
            margin: 0;
            background-color: $polsonNavy;
            display: none;
        }
    }

}