.case-results {

    h2 {
        position: relative;
        color: $baseWhite;
        font-size: 24px;

        &::before {
            content: '';
            width: 60px;
            height: 2px;
            background-color: $baseThirdly;
            position: absolute;
            left: 0;
            bottom: -20px;
        }
    }

    p {
        color: $baseWhite;
    }

    ol {
        li {
            color: $baseWhite;
        }
    }

    &__wrapper {
        box-shadow: $shadowBox;
        padding: 10px;
        margin-bottom: 15px;
    }
}