body.page-template-events {

    .orange-text{
        color: #F85B00;
    }

    .document-title{
        text-align: center;
        font-size: 45px;
        padding-bottom: 40px;

        @include md{
            font-size: 32px;
            padding: 0px;
        }
        @include sm{
            font-size: 26px;
        }
    }

    .events-section{

        .event-single-name{
            font-size: 30px;
            font-weight: 600;
            color: #F85B00;
            @include md{
                font-size: 25px;
            }
            @include sm{
                font-size: 20px;
            }
        }

        .in-col-event{
            margin: 50px 0px;
        }

        .orange-line-ev{
            width: 300px;
            height: 2px;
            background-color: #F85B00;
            color: #F85B00;
            opacity: 100%;
        }

        .event-description{
            font-size: 18px;
            font-weight: 300;
            @include md{
                font-size: 16px;
            }
            @include sm{
                font-size: 14px;
            }
        }

        .ev-img{
            margin: 20px 0px;
            width: 100%;
            box-shadow: 0px 4px 20px 4px #f85b0031;
        }

        .mehr-btn{
            background-color: transparent;
            border: 1px solid #F85B00;
            padding: 10px 30px;
            border-radius: 20px;
            color: #F85B00;
            font-weight: 500;
            font-size: 17px;
            margin-top: 20px;
            @include md{
                font-size: 15px;
            }
            @include sm{
                font-size: 14px;
            }
        }

        .about-text-ev{
            font-size: 18px;
            font-weight: 400;
            margin-right: 20px;
            @include md{
                font-size: 18px;
            }
            @include sm{
                font-size: 16px;
            }
        }

        .about-main{
            margin-top: 20px;
        }

        .icons-small-about{
            margin-top: -10px;
        }
    }

}
