.podcast-page {
    .bg-blue {
        padding: 30px;
        border-radius: 10px;
        justify-content: center;

        p {
            color: $baseWhite;
        }

        svg {
            border: 1px solid $baseWhite;
            border-radius: 10px;
        }

        img,
        svg {
            transition: $transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .podcast-card {
        border: none;
        border-radius: 0.75rem;
    }

    .podcast-card img {
        border-radius: 0.75rem;
    }

    .episode-list {
        list-style: none;
        padding: 0;
    }

    .episode-list li {
        padding: 1rem 0;
        border-bottom: 1px solid #e9ecef;
        cursor: pointer;
    }

    .episode-list li:last-child {
        border-bottom: none;
    }

    .episode-date {
        font-size: 0.8rem;
        color: #6c757d;
    }

    .episode-title {
        font-weight: bold;
        font-size: 1rem;
        color: #333;
        display: inline;
    }

    .read-more {
        color: $ctaColor;
        cursor: pointer;
        text-decoration: underline;
    }

    .latest-episode {
        background-color: #563d7c;
        color: white;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.75rem;
    }

    .latest-episode:hover {
        background-color: #472e6a;
    }

    .see-more {
        font-size: 0.9rem;
        color: #563d7c;
    }

    #embed-iframe {
        margin-top: 1rem;
        width: 100%;
        height: 152px;
    }
}